@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Sequel';
    src: url('/fonts/Sequel-Sans/Sequel-Sans-SBD.ttf') format('truetype');
    font-weight: 405;
    font-style: normal;
  }

.glow-mask {
  position: relative;
  display: inline-block;
  background: radial-gradient(100px circle at var(--x) var(--y),
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.3),
      transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.1s ease-out;
}
  @font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Seoul Namsan';
    src: url('/fonts/Seoul-Namsan.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
